.data0.chart-pie { -fx-pie-color: #FF6F61; }
.data1.chart-pie { -fx-pie-color: #6B5B95; }
.data2.chart-pie { -fx-pie-color: #9B1B30; }
.data3.chart-pie { -fx-pie-color: #77212E; }
.data4.chart-pie { -fx-pie-color: #F5D6C6; }
.data5.chart-pie { -fx-pie-color: #FA9A85; }
.data6.chart-pie { -fx-pie-color: #5A3E36; }
.data7.chart-pie { -fx-pie-color: #CE5B78; }
.data8.chart-pie { -fx-pie-color: #935529; }
.data9.chart-pie { -fx-pie-color: #E08119; }
.data10.chart-pie { -fx-pie-color: #2A4B7C; }
.data11.chart-pie { -fx-pie-color: #577284; }
.data12.chart-pie { -fx-pie-color: #F96714; }
.data13.chart-pie { -fx-pie-color: #264E36; }
.data14.chart-pie { -fx-pie-color: #F3E0BE; }
.data15.chart-pie { -fx-pie-color: #2A293E; }
.data16.chart-pie { -fx-pie-color: #9F9C99; }
.data17.chart-pie { -fx-pie-color: #797B3A; }
.data18.chart-pie { -fx-pie-color: #DD4132; }
.data19.chart-pie { -fx-pie-color: #9E1030; }
.data20.chart-pie { -fx-pie-color: #FE840E; }
.data21.chart-pie { -fx-pie-color: #FF6F61; }
.data22.chart-pie { -fx-pie-color: #C62168; }
.data23.chart-pie { -fx-pie-color: #8D9440; }
.data24.chart-pie { -fx-pie-color: #FFD662; }
.data25.chart-pie { -fx-pie-color: #00539C; }
.data26.chart-pie { -fx-pie-color: #755139; }
.data27.chart-pie { -fx-pie-color: #D69C2F; }
.data28.chart-pie { -fx-pie-color: #616247; }
.data29.chart-pie { -fx-pie-color: #E8B5CE; }
.data30.chart-pie { -fx-pie-color: #D2C29D; }
.data31.chart-pie { -fx-pie-color: #343148; }
.data32.chart-pie { -fx-pie-color: #F0EAD6; }
.data33.chart-pie { -fx-pie-color: #615550; }
.data34.chart-pie { -fx-pie-color: #6B5B95; }
.data35.chart-pie { -fx-pie-color: #7F4145; }
.data36.chart-pie { -fx-pie-color: #BD3D3A; }
.data37.chart-pie { -fx-pie-color: #3F69AA; }
.data38.chart-pie { -fx-pie-color: #D5AE41; }
.data39.chart-pie { -fx-pie-color: #766F57; }
.data40.chart-pie { -fx-pie-color: #E47A2E; }
.data41.chart-pie { -fx-pie-color: #BE9EC9; }
.data42.chart-pie { -fx-pie-color: #F1EA7F; }
.data43.chart-pie { -fx-pie-color: #006E6D; }
.data44.chart-pie { -fx-pie-color: #485167; }
.data45.chart-pie { -fx-pie-color: #EAE6DA; }
.data46.chart-pie { -fx-pie-color: #D1B894; }
.data47.chart-pie { -fx-pie-color: #BCBCBE; }
.data48.chart-pie { -fx-pie-color: #A9754F; }
.data49.chart-pie { -fx-pie-color: #ECDB54; }
.data50.chart-pie { -fx-pie-color: #E94B3C; }
.data51.chart-pie { -fx-pie-color: #6F9FD8; }
.data52.chart-pie { -fx-pie-color: #944743; }
.data53.chart-pie { -fx-pie-color: #DBB1CD; }
.data54.chart-pie { -fx-pie-color: #EC9787; }
.data55.chart-pie { -fx-pie-color: #00A591; }
.data56.chart-pie { -fx-pie-color: #6B5B95; }
.data57.chart-pie { -fx-pie-color: #6C4F3D; }
.data58.chart-pie { -fx-pie-color: #EADEDB; }
.data59.chart-pie { -fx-pie-color: #BC70A4; }
.data60.chart-pie { -fx-pie-color: #BFD641; }
.data61.chart-pie { -fx-pie-color: #2E4A62; }
.data62.chart-pie { -fx-pie-color: #B4B7BA; }
.data63.chart-pie { -fx-pie-color: #C0AB8E; }
.data64.chart-pie { -fx-pie-color: #F0EDE5; }
.data65.chart-pie { -fx-pie-color: #92B558; }
.data66.chart-pie { -fx-pie-color: #DC4C46; }
.data67.chart-pie { -fx-pie-color: #672E3B; }
.data68.chart-pie { -fx-pie-color: #F3D6E4; }
.data69.chart-pie { -fx-pie-color: #C48F65; }
.data70.chart-pie { -fx-pie-color: #223A5E; }
.data71.chart-pie { -fx-pie-color: #898E8C; }
.data72.chart-pie { -fx-pie-color: #005960; }
.data73.chart-pie { -fx-pie-color: #9C9A40; }
.data74.chart-pie { -fx-pie-color: #4F84C4; }
.data75.chart-pie { -fx-pie-color: #D2691E; }
.data76.chart-pie { -fx-pie-color: #578CA9; }
.data77.chart-pie { -fx-pie-color: #F6D155; }
.data78.chart-pie { -fx-pie-color: #004B8D; }
.data79.chart-pie { -fx-pie-color: #F2552C; }
.data80.chart-pie { -fx-pie-color: #95DEE3; }
.data81.chart-pie { -fx-pie-color: #EDCDC2; }
.data82.chart-pie { -fx-pie-color: #CE3175; }
.data83.chart-pie { -fx-pie-color: #5A7247; }
.data84.chart-pie { -fx-pie-color: #CFB095; }
.data85.chart-pie { -fx-pie-color: #4C6A92; }
.data86.chart-pie { -fx-pie-color: #92B6D5; }
.data87.chart-pie { -fx-pie-color: #838487; }
.data88.chart-pie { -fx-pie-color: #B93A32; }
.data89.chart-pie { -fx-pie-color: #AF9483; }
.data90.chart-pie { -fx-pie-color: #AD5D5D; }
.data91.chart-pie { -fx-pie-color: #006E51; }
.data92.chart-pie { -fx-pie-color: #D8AE47; }
.data93.chart-pie { -fx-pie-color: #9E4624; }
.data94.chart-pie { -fx-pie-color: #B76BA3; }
.data95.chart-pie { -fx-pie-color: #F7CAC9; }
.data96.chart-pie { -fx-pie-color: #F7786B; }
.data97.chart-pie { -fx-pie-color: #91A8D0; }
.data98.chart-pie { -fx-pie-color: #034F84; }
.data99.chart-pie { -fx-pie-color: #98DDDE; }
.data100.chart-pie { -fx-pie-color: #9896A4; }
.data101.chart-pie { -fx-pie-color: #B18F6A; }
.data102.chart-pie { -fx-pie-color: #DD4132; }
.data103.chart-pie { -fx-pie-color: #FAE03C; }
.data104.chart-pie { -fx-pie-color: #79C753; }
.data105.chart-pie { -fx-pie-color: #FF6F61; }
.data106.chart-pie { -fx-pie-color: #6B5B95; }
.data107.chart-pie { -fx-pie-color: #88B04B; }
.data108.chart-pie { -fx-pie-color: #F7CAC9; }
.data109.chart-pie { -fx-pie-color: #92A8D1; }
.data110.chart-pie { -fx-pie-color: #955251; }
.data111.chart-pie { -fx-pie-color: #B565A7; }
.data112.chart-pie { -fx-pie-color: #009B77; }
.data113.chart-pie { -fx-pie-color: #DD4124; }
.data114.chart-pie { -fx-pie-color: #D65076; }
.data115.chart-pie { -fx-pie-color: #45B8AC; }
.data116.chart-pie { -fx-pie-color: #EFC050; }
.data117.chart-pie { -fx-pie-color: #5B5EA6; }
.data118.chart-pie { -fx-pie-color: #9B2335; }
.data119.chart-pie { -fx-pie-color: #DFCFBE; }
.data120.chart-pie { -fx-pie-color: #55B4B0; }
.data121.chart-pie { -fx-pie-color: #E15D44; }
.data122.chart-pie { -fx-pie-color: #7FCDCD; }
.data123.chart-pie { -fx-pie-color: #BC243C; }
.data124.chart-pie { -fx-pie-color: #C3447A; }
.data125.chart-pie { -fx-pie-color: #98B4D4; }